@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bottom: 17px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--Nunito_Sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191717;
    --foreground: #ededed;
    --lightgray: #242424;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--Nunito_Sans);
}

@media (max-width: 767px) {
  .profileImg {
    grid-row: 1 / 2;
  }
}

.expSwiper {
  width: 100%;
  height: 100%;
}
.expSwiper .swiper-slide {
  height: auto !important;
}

.expSwiper .swiper-wrapper {
  margin-bottom: 50px;
}
