@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
#about,
#experience,
#contact {
  scroll-margin-top: 150px;
}
:root {
  --background: #191717;
  --foreground: #ededed;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bottom: 17px;
  --lightgray: #c9c9c9;
  --darkgray: #444444;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--Nunito_Sans);
}

.expSwiper {
  width: 100%;
  height: 100%;
}
.expSwiper .swiper-slide {
  height: auto !important;
}

.projectCard:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .profileImg {
    grid-row: 1 / 2;
  }
  .expSwiper .swiper-wrapper {
    margin-bottom: 50px;
  }
}
